*{
    padding: 0;
    margin: 0;
        
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
  
    align-items: center;
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    border-bottom-color:yellow;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    margin-bottom:0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
   
}
main{
    background-color: yellow;
    padding: 65px;  
}
header div{
    max-width: 100%;
}
.flex {
    display: flex;
    margin-top: 0;
}
.col30{
    width: 30%;
}
.col35{
    width: 35%;
}
.col10{
    width: 10%;
}
.col25{
    width: 25%;
}
.col65{
    width: 65%;
}
.col10 >div >a>img{
   
    width: 100%;
    padding: 0px 0px 0px 60px;
}
div>a>h1{
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
    font-size: 3rem;
    margin: 0;  
}
div>a{
    text-decoration: none;
}

ul >li{
    list-style-type: none;    
}
ul.flex >li>a{
    text-decoration: none;
   color: white;
   
   padding: 0px 0px 0px 0px;    
}
span{
    font-size: 20px;
}
ul>li>a{
    text-decoration: none;
    color: white;
}
.language{
    /* padding: 0px 0px 20px 0px; */
}
.subject{
align-items: center;
   padding: 40px;

}
.subject:hover{
    background-color:  rgb(75, 14, 132) ;
}
.subject:hover > a >*{
    color:yellow;
}
ul.menu.option.sub>li{
    padding: 15px;
    padding-left: 20px;
    border-bottom: 1px solid purple;
    text-align: center;

}
ul.menu.option.sub>li:last-child{
    border-bottom: 0px;
}

.option{
    display: none!important;
    position: absolute;
    background-color: blueviolet;

}
.subject:hover .option{
    display: block !important;   
}
.option::after{
    content: " ";
    border-width: 12px;
    border-style: solid;
    border-color: transparent transparent yellow transparent;
    position: absolute;
    bottom: 100%;
    left: 20%;
   
}
.menu.option.sub{
    margin-top: 38px;
    margin-left: -38px;
    border-radius: 10px 10px;
    z-index: 1;
 
}
.menu.option.sub>li:hover{
    background-color: rgb(75, 14, 132);
    border: 1px solid rgb(75, 14, 132);
    border-radius: 10px 10px;
}
.menu.option.sub>li:hover >a{
    color: yellow;
}
nav{
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    
}
nav >div.flex{
    align-items: center;
    
}
div.flex.col25>div{
    font-weight: 500;
    text-align: center;
    width: 30%;
}
div.flex.col35>div{
    text-align: center;

    font-weight: 500;
    width: 20%;
}
div.flex.col35>div:last-child{
    width: 60%;
}
div.col35.nav{
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    text-align: center;
    padding: 5px 0px 0px 0px;
    display: inline-block;
    font-weight: 500;
    text-align: center;
}
div.col35.nav>a:hover{
    background-color:rgb(75, 14, 132) ;
    color: yellow; 
}
div.col35.nav>i:hover{
    color: yellow;
}
div.cont {
    padding: 30px 10px;
    border: 2px solid  rgb(218, 196, 238);
}
div.flex>div>a{
    padding: 10px;
    display: block;
    margin: 0px;
}
div.flex>div>a:hover{
    background-color:rgb(75, 14, 132) ;
    color: yellow;
}
div.box{
    background-color: rgb(218, 196, 238);

}
a.pic>img{
    padding-top: 5px;
    width: 100%;
    
}
div.data{
    padding: 20px 15px;
    background-color: rgb(218, 196, 238);
    
}
div.data>div>h1{
    background:linear-gradient(rgb(114, 42, 182),rgb(137, 83, 188) );
    padding: 15px;
    margin-top: 5px;
    text-align: center;
}
.topic h2{
    color: purple;
}
div.data>div>h1>a{
    color: yellow;
    text-transform: capitalize;
    text-decoration: none;
font-size: 2rem;

}   
div.new{
    padding: 10px;
}
.new>a>img{
    width: 50%;
    padding: 5px;
}
.new>a>div{
    padding: 20px 15px;
}
div>span{
    font-size: 16px;
    color: rgb(119, 111, 111);
}
div.content{
    /* background:linear-gradient(rgb(114, 42, 182),rgb(137, 83, 188) ); */
padding: 20px;
font-size: 2rem;
text-align: center  ;

}
div.content>a>h2{
    color: rgb(242, 171, 48);
   
}
div.contents{
    
    /* background:linear-gradient(rgb(137, 83, 188),rgb(191, 125, 252) ); */
padding: 20px;
font-size: 1rem;
text-align: center  ;

}
div.contents>ul>li{
    border:1px solid purple;
    margin: 5px;
    padding: 10px;
    border-radius:30px ;
    
}
div.contents>ul>li>i{
    font-size: 3rem;
    padding-bottom: 10px;
    color: rgb(242, 171, 48);   
    
}
div.contents>ul>li>div a{
    background-color: purple;
    color: yellow;
    padding: 5px;
    margin-top: 5px;
    display: inline-block;
    border-radius: 10px 10px;
    
}
div.contents>ul>li>h2{
    color:purple;
}
div.contents>ul>li>p{
padding: 5px;
color: black;
}
div.contents>ul>li>a{
 color: black;
    background-color: rgb(97, 190, 219);
    border: 3px solid rgb(131, 131, 235);
}
div.info{
   background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 100%, rgba(252,176,69,1) 100%);
}
div.info>iframe{
    padding-left: 10px;
    padding-bottom: 10px;
}
div.info>div>div{
    max-width: 100%;  
}
div.info>div>div>img{
    width: 50%;
    padding: 15px;
}
div.info>div>div>a>p{
    padding: 15px;
}
#xemthem{
    text-align: center;
}
a.button>span{
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px;
    background-color: purple;
    color: yellow;
    
}

a.button>span:hover{
    background-color: yellow;
    color: purple;
}

div.content2{
    background-color: rgb(218, 196, 238);
    text-align: center;
    padding: 15px;
} 
div.content2>h2{
    color: rgb(136, 99, 26);
    font-size: 2rem;
    border-top: 2px solid gray;
    padding: 5px;
    font-weight: 500;
    text-transform: capitalize;
}
ul.flex.content2>li{
    text-align: center;
    margin: auto;
    padding: auto;

}
ul.flex.content2{
    align-items: center;
    
}
ul.flex.content2>li>i{
    font-size: 3rem;
    padding: 10px;
}
div.content3{
    background-color: rgb(218, 196, 238);
    padding:25px 25px;
}
ul.flex.content3>li{
   padding: 25px 75px;
   
}
ul.flex.content3>li>h2{
    margin: 0px 0px 40px 0px;
    color: purple;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 30px;
    padding-bottom: 5px;
position: relative;
}
ul.flex.content3>li>h2::before {
    content: "";
    position: absolute;
    background-color: yellow;
    left: 1px;
    bottom: -8px;
    height: 3px;
    box-sizing: border-box;
    width: 60px;
}
ul.flex.content3>li>div>a{
    color: black;
    padding: 5px;
    text-transform: capitalize;
    font-size: 18px;
    /* transition: all 0.3s ease; */
}
ul.flex.content3>li>div:hover{
border: 1px transparent;

    animation: dichuyen 1s;
    position: relative;
    
}
div.footers{
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
align-items: center;
padding: 20px;

}
div.footers>div{
   margin: auto;
}


.number_phone {
    font-size: 20px;
    font-weight: bold;
    color: yellow;
}
.fa-phone{

    color: purple;
    animation: ring-ring 1s infinite;
}
.fa-phone:hover{

    animation: ring-ring 1s;
}
.fa-location-dot{
    color: purple;
}
.fa-location-dot:hover{
    animation: ring-ring 1s;
}
.fa-envelope{
    color: purple;
}
.fa-envelope:hover{
    animation: ring-ring 1s;
}
ul.flex.content2>li>i {
    font-size: 3rem;
    padding: 10px;
}

@keyframes dichuyen{
    from{
        left:0;
    }
    to{
        left:10%
    }
}
@keyframes ring-ring
{
  0%
  {
    transform: rotate(0);
  }

  10%
  {
    transform: rotate(-25deg);
  }

  20%
  {
    transform: rotate(25deg);
  }

  30%
  {
    transform: rotate(-25deg);
  }

  40%
  {
    transform: rotate(25deg);
  }

  50%
  {
    transform: rotate(0);
  }

  100%
  {
    transform: rotate(0);
  }
}
.new>a>img:hover{
    transform: scale(1.1);
}
div.info>div>div>img:hover{
    transform: scale(1.1);
}
div.contents>ul>li:hover{
    background-color: yellow;
}
.add h2 ,p,a{
    color: yellow;
}
.slide_show {
    margin-top:58px ;
    width: 400%;
    transition: all 0.2s;
    display: flex;
    flex-wrap: wrap;
}
.slide_show img{
    width: 25%;
}
.slide{
    width: 100%;
    overflow: hidden;
    position: relative;
    /* margin: 0 auto; */
    z-index: 1;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

 /* Position the "next button" to the right */
 .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.bottom-border-header {
    background-size: cover !important;
    background-position-y: bottom !important;
}
div.iconn{
    display: none;
}

/* SCROLLBAR  */
 ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient( rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background-clip: content-box;
  }
  .all{
    overflow: hidden;
  }
  .mobile{
    display: none;
  }
  .overplay{
    display: none;
  }
  #mobile-input{
    display: none;
  }
  .iconn{
    display: none;
  }
 .dichuyenanh{
    display: none;
 }
 div.content3-1{
    display: none;
 }
 #xemthem1{
display: none;
 }

  /*ipad*/
  @media screen and (max-width: 1024px) {
   header{
   z-index: 0;
   position: relative;

   }
   div.col10{
    width: 20%;
   }
   .menu.option.sub{
    position: absolute;
    margin-left: 140px;
    margin-top: 40px;
    z-index: 1000;
   }
   .box.col65{
    display: none;
   }
   main{
    padding: 0px;
   }
  
  div>ul.menu.flex{
    display: none;
  }
    .andi{
        display: none;
    } 
    .col25{
        width: 46%;
    }
    .col35.nav.flex{
    width: 1%;
    }
    .nav.col35>a{
    display: none;
    }
    .nav.col35>i{
        display: none;
    }
    .nav.col35>span{
        display: none;
    }
    .flex.col35{
        width: 53%;
    }
    nav.flex{
        font-size: 12px;
    }
    label.iconn{
        
        margin-right: auto;
        display: block;
        font-size: 4rem;
    }
    label.iconn>i{
        position: absolute;
       color: black;
       background-color: blueviolet;
       padding: 5px 10px;
       right: 0px;
       top: 0px ;
    }
    .overplay{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.3 );
        
     }
    .mobile{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        bottom:0;
        width: 320px;
        max-width: 100%;
        background-color: rgb(81, 11, 100);
        transform: translateX(-100%);
       
        transition: transform linear 0.5s;
    }
    .menu-mobile{
        margin-top: 60px;
    }    
    .iconclose{
        font-size: 3rem;
        color:#666;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    .div-input:checked ~ .overplay{
        display: block;
    }
    .div-input{
        display: none;
    }
    .div-input:checked ~ .mobile{
        transform: translateX(0%);
       
    }
ul.menu.option.sub>li{
    padding: 25px !important;
    padding-left: 20px !important;
    font-size: 18px;
}
   div.col35.data{
    width: 100%;
   }
   div.box.col65{
    width: 0%;
   }
   .dichuyenanh{
    display: block;
    width: 90%;
    margin: 0 auto;
   }
   ul>li>p{
    display: none;
   }
   div.contents>ul>li{
    width: 18%;
   }
div.content3{
    display: none;
}
div.content3-1{
    display: block;
    background-color: rgb(218, 196, 238);
    
}
.content3-1>ul>li{
    width: 45%;
    padding: 25px 50px !important;
    margin: 0px auto;
}
div.footers.flex{
    display: block;
    text-align: center;
}
div.flex.st{
    justify-content: center;
    padding-top: 10px;
}
div.info.flex{
    display: block;
    text-align: center;
}
div.info.flex>iframe{
width: 90%;
padding-top: 20px;
}
.col35.if{
display: flex;
width: 90%;
margin: 0px auto;


}
#pic2{
    
}
#xemthem{
    display: none;
}
#xemthem1{
 display: block;
    padding: 20px;
}

}




.all{
    overflow: hidden;
}
.circle{
    position: absolute;
    left: 46%;
    top:50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border: 4px solid #fff;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-radius: 50%;
    animation: animate 2s linear infinite;
    z-index: 1001;
}
.circle:before{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    border: 4px solid transparent;
    border-bottom: 4px solid #fff958;
    border-top: 4px solid #b858ff;
    border-radius: 50%;
    animation: animate 2s linear infinite;
}
.circle:after{
    content: '';
    position: absolute;
    top: 24px;
    left: 24px;
    bottom: 24px;
    right: 24px;
    border: 4px solid transparent;
    border-bottom: 4px solid #fff958;
    border-top: 4px solid #b858ff;
    border-radius: 50%;
    animation: animate 2s linear ;
}
@keyframes animate{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.loader{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 1001;
}
