body{
    background-image: url(IMG/anhtpm.png);
    background-size: cover;
    height: 100vh;
 }

 #wrapper{
 min-height: 80vh;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 #form-login{
     max-width: 400px;
     background-color: rgba(0,0,0,0.7);
     flex-grow: 1;
     padding: 30px 30px 40px;
     box-shadow: 0px 0px 17px 2px rgba(255,255,255,0.8);
 }
 .form-heading{
     font-size: 25px;
     color: white;
     text-align: center;
     margin-bottom: 30px;
 }
 .form-input{
     background: transparent;
     border: 0;
     outline: 0;
     color: white;
     flex-grow: 1;
 }
 .form-group{
     border-bottom: 1px solid white;
     margin-top: 15px;
     margin-bottom: 20px;
     display: flex;
 }
 .form-input::placeholder{
     color: white;
 }
 .form-submit{
     background: transparent;
     border:1px solid white;
     width: 100%;
     color: #ff9800;
     text-transform: uppercase;
     padding: 6px 10px;
     margin-top: 30px;
     margin-bottom: 20px;
     background-color: #622a95;
 }
 .form-submit:hover{
     border:1px solid  #5d2e86 ;
    background-color:  transparent !important;
 }
 .form-group i {
     color: #ff9800;
     font-size: 15px;
     padding-top: 5px;
     padding-right: 10px;
     padding-bottom: 5px;
 }
 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }
 ul.menu{
  
     list-style-type: none;
     padding: 0;
     margin: 0;
     display: flex;
     background-color: transparent;
     align-items: center;
     
 }
 *{
    padding: 0;
    margin: 0;
  
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    align-items: center;
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    border-bottom-color:yellow;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    margin-bottom:0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
}
main{
    background-color: yellow;
    padding: 65px;
   
  
}
.flex {
    display: flex;
    margin-top: 0;
}
.col30{
    width: 30%;
}
.col35{
    width: 35%;
}
.col10{
    width: 10%;
}
.col25{
    width: 25%;
}
.col65{
    width: 65%;
}
.col10 >div >a>img{
    width: 100%;
    padding: 0px 0px 0px 60px;
}
div>a>h1{
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
    font-size: 3rem;
    margin: 0;  
}
div>a{
    text-decoration: none;
}

ul >li{
    list-style-type: none;    
}
ul.flex >li>a{
    text-decoration: none;
   color: white;
   
   padding: 0px 0px 0px 0px;    
}
span{
    font-size: 20px;
}
ul>li>a{
    text-decoration: none;
    color: white;
}
.language{
    /* padding: 0px 0px 20px 0px; */
}
.subject{
align-items: center;
   padding: 40px;

}
.subject:hover{
    background-color:  rgb(75, 14, 132) ;
}
.subject:hover > a >*{
    color:yellow;
}
ul.menu.option.sub>li{
    padding: 15px;
    padding-left: 20px;
    border-bottom: 1px solid purple;
    text-align: center;
background-color: blueviolet;

}
.option{
    display: none!important;
    position: absolute;
    background-color: blueviolet;
    
}
.subject:hover .option{
    display: block !important;   
}
.option::after{
    content: " ";
    border-width: 12px;
    border-style: solid;
    border-color: transparent transparent yellow transparent;
    position: absolute;
    bottom: 100%;
    left: 20%;
   
}
.menu.option.sub{
    margin-top: 38px;
    margin-left: -38px;
    
    z-index: 1;

 
}
.menu.option.sub>li:nth-child(1){
border-radius: 10px 10px 0px 0px!important;

}
.menu.option.sub>li:nth-last-child(1){
    border-radius: 0px 0px 10px 10px !important;
    
    }
.menu.option.sub>li:hover{
    background-color: rgb(75, 14, 132);
}
.menu.option.sub>li:hover >a{
    color: yellow;
}
nav{
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    
}
nav >div.flex{
    align-items: center;
    
}
div.flex.col25>div{
    font-weight: 500;
    text-align: center;
    width: 30%;
}
div.flex.col35>div{
    text-align: center;

    font-weight: 500;
    width: 20%;
}
div.flex.col35>div:last-child{
    width: 60%;
}
div.col35.nav{
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    text-align: center;
    padding: 5px 0px 0px 0px;
    display: inline-block;
    font-weight: 500;
    text-align: center;
}
div.col35.nav>a:hover{
    background-color:rgb(75, 14, 132) ;
    color: yellow; 
}
div.col35.nav>i:hover{
    color: yellow;
}
 
 /* ul.menu>li{
     display: flex;
     min-width: 100px;
     text-align: center;
     margin-left: 100px;
 }
 ul.menu>li>i{
     padding-top: 8px;
     margin-left: 10px;
     margin-right: 5px;
     color: #ff9800;
    
 }
 ul.menu>li>a{
     display: block;
     padding: 5px 5px;
     text-decoration: none;
     font-size: 130%;
  color: #ff9800;
 }
 
 ul.menu>li>a:hover{
     color: palevioletred;
 }
 #name{
  
     width: 20%;
     color: white;
     font-size: 1.5rem;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 h1{
     margin: 0px;
 } */

 .pass{
     color:#ff9800; 
     font-size:medium;
     text-decoration:underline;
 }
 .pass:hover{
     color: coral;
 }
 .acc{
    color:#ff9800; 
    font-size:medium;
    text-decoration:underline;
 }
 /* SCROLLBAR */
 ::-webkit-scrollbar {
     width: 10px;
   }
   ::-webkit-scrollbar-track {
     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   }
   ::-webkit-scrollbar-thumb {
     background: linear-gradient(#00ccff, #d400d4);
     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
     background-clip: content-box;
   }